MulesoftPracticals/Practical_Testing/assign2 (1).xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="fb5fdf8c-6a04-4686-8df1-b1b99ff9526a" >
		<file:connection workingDir="C:\Users\ASING834\Desktop\Temp\JSONfiles" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="9c0066f2-edd8-4eb5-a047-189a922f4942" >
		<file:connection workingDir="C:\Users\ASING834\Desktop\Temp\processed" />
	</file:config>
	<flow name="assign2Flow" doc:id="a9ee837a-ca91-4aac-8f8f-72e675085af5" >
		<file:listener doc:name="On New or Updated File" doc:id="d4f7194a-ccd1-417a-8703-7aac0410b5d3" config-ref="File_Config" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency frequency="6000"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="18a70c24-4540-4804-8ea0-1ec97cc3123b" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="fdfbc040-0c54-4b40-97d3-744c8be526d8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{ "key" :payload }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1711574c-7814-41a9-bfcd-fc7089c60494" message="#[payload]"/>
		<file:write doc:name="Write" doc:id="12747a90-e4b7-45c8-86a5-29c017177b41" path="output.xml" config-ref="File_Config1"/>
	</flow>
</mule>
